<!doctype html>
<html lang="de">
  <head>
    <title>Universe Simulation</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="icon" type="image/png" href="universe.png"/>
    <link rel="apple-touch-icon" href="universe.png"/>
    <link rel="apple-touch-startup-image" href="universe.png" />
    <style type="text/css" media="screen">@import "iphonenav.css";</style>
    <script src="iphonenav.js"></script>
    <script src="somemathfunc.js"> </script>
    <script src="Chart.js"> </script>
    <script src="calcuniverse.js"> </script>   
</head>
  <body>
    <h1 id="pageTitle">Universe SImulation</h1>
    <a id="homeButton" class="button" href="#start">Home</a>
    <a class="button" href="#statusReport">Status</a>
	
	<ul id="start" title="Universe Simulator" selected="true">
        <li><a href="#setParams">Set Universe Parameters</a></li>	
        <HR>
        <li><a href="#hubbledev">Show Hubble Expansion</a></li>	
        <li><a href="#distdev">Show Universe Size</a></li>
        <li><a href="#scaledev">Show Scale Factor</a></li> 
        <HR>     
        <li><a href="#HubbleTxt">Hubbles Law</a></li>              	       
    </ul>

    <form id="setParams" class="dialog" action="dotheUni()">
            <fieldset>
                <h1>Universe Parameters</h1>
                <a class="button toolButton goButton" href="#hubbledev" onclick="dotheUni(Hubble.value,Omega.value,tuni.value);">Go!</a>
                <input type="text" value="1  -  Hubble Parameter - 100)" readonly />           
                <input id="Hubble" type="range" min="1" max="100" value="70" />
                <HR>
                <input type="text" value="1 - Relative Baryonic Density - 100 %" readonly />           
                <input id="Omega" type="range" min="1" max="100" value="30" />
                <HR>
                <input type="text" value="1 - Time Range in billion years - 100" readonly />           
                <input id="tuni" type="range" min="1" max="100" value="20" />
                <HR>

                <p>
                You can create your own Universe by adjusting three Parameters.<br>
                Try to calibrate the Hubble Constant. <br>
                Are you living in a Universe with a high baryonic (mass) density?
                Then trim the Omega-Paramter to an high value.
                Or do you live in a Universe with a lot of unknown dark energy?<br>
                You can also set the time range of your simulation from one to 100 billion years.<br>
                Good luck!
                </p>		           

            </fieldset>
        </form>	

    <div id="hubbledev" class="panel" title="Hubble Expansion">
        <canvas id="time-expansion" width="320" height="300"> </canvas>
        <p>
        The graph shows the development of the Hubble constant during time.
        Normally the Hubble Constant goes to a constant value over a long period.
        This means, that the universe is expanding forever. 
        </p>        
        <li><a href="#distdev">Show Universe Size</a></li>
        <li><a href="#scaledev">Show Scale Factor</a></li>         
    </div>

    <div id="distdev" class="panel" title="Visible Size">
        <canvas id="dist-expansion" width="320" height="300"> </canvas>
        <p>
            The graph shows the Hubble Distance and therefore the development of 
            the visible Size of the Universe in billion lightyears over time.
            It is the eevent horizon of the universe. 
            The velocity of the Objects rises with larger distance.
            The space time at the edge of the universe take off with the 
            velocity of light, so the objects are no longer visible-
         </p>           
        <li><a href="#hubbledev">Show Hubble Expansion</a></li>	
        <li><a href="#scaledev">Show Scale Factor</a></li> 
    </div>

    <div id="scaledev" class="panel" title="Scaling Factor">
        <canvas id="asim-expansion" width="320" height="300"> </canvas>
        <p>
            The scaling factor describes the expansion of the universe over time.
            Scaling factor equals one is the current state.
            So you can determine the age of the uiverse where the graph crosses One. 
        </p>         
        <li><a href="#hubbledev">Show Hubble Expansion</a></li>	
        <li><a href="#distdev">Show Universe Size</a></li>       
    </div>

    <ul id="HubbleTxt" title="Hubbles Law">
        <li><iframe width="95%" height="480" src="https://en.m.wikipedia.org/wiki/Hubble%27s_law"></iframe></li>
    </ul>





</body>
</html>